extends layout

block content
  .about-container
    h1 About Trajecta
    p Trajecta is a modern web application built with Node.js and Express.
    
    .features
      h2 Features
      ul
        li Responsive design
        li Modern navigation
        li Clean user interface
        li Mobile-friendly layout
    
    .tech-stack
      h2 Technology Stack
      ul
        li Node.js
        li Express.js
        li Jade templating
        li CSS3
        li JavaScript ES6+
