doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/js/navbar.js')
  body
    nav.navbar
      .navbar-container
        .navbar-brand
          a(href='/') Trajecta
        .navbar-menu
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/users') Users
            li.nav-item
              a.nav-link(href='/about') About
        .navbar-toggle
          span.bar
          span.bar
          span.bar
    main.main-content
      block content
